<a href="https://colab.research.google.com/github/SHEELLAKRISHNATEJA/letsupgradepythonb7/blob/master/assignment1_day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lower=1042000
upper=702648265
for num in range(lower,upper+1):
  order=len(str(num))
  sum=0
  temp=num
  while temp>0:
    digit=temp%10
    sum += digit ** order
    temp //= 10
    if num==sum:
      print("the first armstrong number is:" , num)

the first armstrong number is: 1741725
the first armstrong number is: 2097280
the first armstrong number is: 2097281
the first armstrong number is: 3278756
the first armstrong number is: 4210818
the first armstrong number is: 4782969
the first armstrong number is: 4861095
the first armstrong number is: 9800817
the first armstrong number is: 9926315
the first armstrong number is: 16790338
the first armstrong number is: 16790338
the first armstrong number is: 21816066
the first armstrong number is: 24678050
the first armstrong number is: 24678051
the first armstrong number is: 26682755