<a href="https://colab.research.google.com/github/SHEELLAKRISHNATEJA/letsupgradepythonb7/blob/master/assigment2_day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#python program for print prime numbers between 1 and 200
lower=1
upper=200
print("prime numbers between" , lower , "and" ,upper, "are:")
for num in range(lower,upper+1):
  if num>1:
    for i in range(2,num):
      if (num%i)==0:
        break
    else:
      print(num)

prime numbers between 1 and 200 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199